:root {
    --sidebarInlineSize: 15rem;
    --minBlockSize: 37.5rem;
    --minInlineSize: 48rem;
    --bottomSize: 5.5rem;
}
.layout {
    min-inline-size: var(--minInlineSize);
}
.layout-sidebar {
    block-size: calc(100vh - var(--bottomSize));
    min-block-size: var(--minBlockSize);
    inline-size: var(--sidebarInlineSize);
    overflow: auto;
    flex-shrink: 0;
    background: var(--gray60);
}

.layout-main, .layout-foryou, .layout-recently-heard, .layout-your-likes {
    block-size: calc(100vh - var(--bottomSize));
    min-block-size: var(--minBlockSize);
    overflow: auto;
    inline-size: 100%;
}

.layout-foryou {
    position: relative;
}

.layout-bottom {
    flex: 1;
    block-size: var(--bottomSize);
    background: var(--gray50);
}

.layout-block {
    display: flex;
}