.menuItem {

    
}

.menuItem a {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    font: var(--button);
    block-size: 2.5rem;
    transition: .2s ease-in all;
}

.menuItem [class^='icon-']{    
    font-size: 1.5rem;
}

.menu a:hover {
    text-decoration: none;
    padding-inline-start: 1.6rem;
}

.menuItem.is-active a {
    box-shadow: inset 4px 0 0 var(--primary);
    color: var(--white);
}

.menuItem.is-active .icon-home::before {
    content: '\e90a';
}

.menuItem.is-active .icon-search::before {
    content: '\e914';
}