.navigation {
    /* border: 1px solid red; */
    flex-shrink: 0;
}

.navigation button {
    inline-size: 1.875rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background: var(--gray60);
    color: var(--gray10);
    cursor: pointer;
}

.navigation button:disabled {
    opacity: .5;
    cursor: no-drop;
}
.navigation-prev i {
    position: relative;
    left: -1px;
}

.navigation-next i {
    position: relative;
    left: 1px;
}